body{
    background-color:whitesmoke;
}
.form{
    position: relative;
    margin-left: 50%;
    margin-top: 5%;
}
h1{
    text-align: center;
    color: blue;
}

p{
    text-align: left;
    font-size: 20px;
    color: blue;
}
input{
    height: 20px;
} 
button{
    background-color: blue;
    width: 150px;
} 
span{
    margin-top: 40px;
}
#btn{
    background-color: green;
}