.header-container{
    display: flex;
    justify-content:space-between;
}
.third-flex-container{
    display: flex;
    justify-content: space-between;

    width: 40vw;
}
.hamburger-icon{
    display: none;
}
.notification-and-messages-container{
    display: flex;
    justify-content: space-between;
    width: 5vw;
}

@media screen and(max-width:768px) {
    
}