* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.main-container {
  width: calc(100% - 300px);
  margin: 20px 40px;
  overflow: scroll;
  scrollbar-width: none;
  height: 95vh;
}

.title {
  text-align: start;
  margin: 20px 0px;
  color: #636363;
  font-weight: 500;
}

h1, h2, h3, h4, h5, h6 {
  color: #636363;
}
