.filters {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.filters input {
  width: 70%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.filters select {
  width: 28%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.student-table {
  width: 100%;
  border-collapse: collapse;
}

.student-table tr:nth-of-type(odd) {
  background-color: #cce5ff;
}

.student-table tr:hover {
  background-color: #f9f9f9;
}

button {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
}
